// colors
$primary-clr: #2e2d33;
$heading-clr: #fbfbfb;
$text-clr: #89888c;
// fonts
$primary-font: "Bebas Neue";
$secondary-font: "PT Mono";
$text-font: "Cabin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: $primary-clr;

  // heading fonts
  h1 {
    font-size: 2.5em;
    font-family: $primary-font;
    font-weight: 400;
    letter-spacing: 2px;
    color: $heading-clr;
  }

  h2 {
    font-size: 1.5em;
    color: $primary-font;
    text-transform: uppercase;
    font-family: $secondary-font;
    color: $heading-clr;
  }

  p {
    font-size: 1.1em;
    line-height: 1.876rem;
    color: $text-clr;
    font-family: $text-font;
  }

  .container {
    width: 80%;
    height: auto;
    margin-inline: auto;
    padding: 2rem;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  img {
    width: auto;
    position: relative;
  }

  // header
  header {
    width: 100%;
    height: auto;
    padding: 2.5rem 0;

    .grid {
      width: 100%;
      grid-template-columns: 10% 70% 20%;
      grid-template-rows: repeat(2);
      margin-inline: auto;
      border: 1px solid $heading-clr;
      border-top: none;
      padding: 0;

      .grid-box {
        border: 1px solid $heading-clr;

        h5 {
          font-family: $primary-font;
          letter-spacing: 2px;
        }

        &:nth-child(1) {
          display: flex;
          grid-row: 1/3;
          border-top: none;
          align-items: center;
          justify-content: center;
        }

        &:nth-child(2) {
          display: flex;
          justify-content: flex-end;
          border-top: none;

          h5 {
            font-size: 0.9em;
            color: $heading-clr;
          }

          img {
            width: 20px;
            margin: 0 1rem;
          }
        }

        &:nth-child(3) {
          ul {
            display: flex;
            justify-content: center;

            li {
              margin:0 1.3rem;
              
            }
          }

          border-top: none;

          img {
            width: 20px;
          }
        }

        &:nth-child(4) {
          grid-column: 2/4;
          text-transform: uppercase;
          font-family: $primary-font;
          letter-spacing: 1px;
          word-spacing: 1px;
          border: none;

          nav {
            padding: 1rem;
            margin-inline: auto;

            .nav-items ul li {
              display: inline-block;
              margin: 0 3.5rem;

              a {
                color: $text-clr;
              }
            }
          }
        }
      }
    }
  }

  // section hero
  .hero {
    width: 100%;
    height: auto;

    .hero-heading {
      .flex {
        border: none;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        position: relative;

        .about-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .flex-box-1 {
          flex-basis: 30%;
          border: 1px solid $text-clr;
          border-left: none;
          border-right: none;
          height: 300px;
          justify-items: center;

          img {
            display: block;
            margin: 0 auto;
            width: 55%;
          }

          // span {
          //   background-color: $text-clr;
          //   width: 100px;
          //   height: 100px;
          // }
        }

        .flex-box-2 {
          position: relative;
          flex-basis: 50%;
          text-align: center;
          border: 1px solid $text-clr;
          height: 300px;
          padding: 4rem;

          .none-border {
            width: auto;
            padding: 0.2rem 0;
            border: 1px solid $text-clr;
            border-top: none;
            border-bottom: none;
            background-color: $primary-clr;
            width: 35%;
            margin-inline: auto;
            position: absolute;
            top: -5%;
            left: 32%;
            font-size: 1em;
            color: $heading-clr;
            text-transform: uppercase;
            font-family: $secondary-font;
          }
        }

        .flex-box-3 {
          flex-basis: 30%;
          height: 300px;
          border: 1px solid $text-clr;
          border-left: none;
          border-right: none;

          img {
            display: block;
            margin: 0 auto;
            width: 55%;
          }

          .col-1,
          .col-2 img {
            padding: 2rem;
          }

          .col-1 {
            border-bottom: 1px solid $text-clr;
          }
        }
      }
    }
  }

  // section2

  .section2 {
    width: 100%;
    height: auto;

    h2 {
      text-align: center;
      font-size: 2.8rem;
      font-family: $primary-font;
      letter-spacing: 5px;
    }
  }

  // section3
  .section3 {
    width: 100%;
    height: auto;

    .container {
      .grid {
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-content: center;
        border-top: 1px solid $text-clr;
        border-bottom: 1px solid $text-clr;

        .grid-box-1 {
          width: 100%;
          height: 80%;
          margin-inline: auto;
          grid-row: 1/4;
          text-align: center;
          .product-name {
            h4 {
              font-size: 2em;
              margin-bottom: 2rem;
              color: $heading-clr;
              font-family: $primary-font;
              letter-spacing: 2px;
              font-weight: 300;
             
            }
          }
          .product-img{
            img{
              display: block;
            margin: 0 auto;
            }
          }
          .product-description{
            margin-top:2rem;
           
            h5{
              font-size: 1em;
              color: $heading-clr;
              font-family: $secondary-font;
              line-height: 1.5rem;
             
             
            }
            p{
              font-size: 1em;
              font-family: $secondary-font;
            }
          
          }
          .button{
            margin-top: 1rem;
            
            a{
             color: $text-clr;
             border-bottom: 1px solid red;
             padding-bottom: 0.5rem;

            }
           }
        }
        .grid-box-2 {
          border-left: 1px solid $text-clr;
          padding: 2rem 5.3rem;
          grid-row: 1/2;
          border-right: 1px solid $text-clr;
          margin-inline: auto;
         
          
        }
        .grid-box-3 {
          padding: 2rem ;
          margin-inline: auto;
          grid-row: 1/3;
         
        }
        .grid-box-4 {
          padding: 2rem 5.1rem;
          margin-inline: auto;
          grid-row: 2/3;
          border-left: 1px solid $text-clr;
          border-right: 1px solid $text-clr;
          border-top: 1px solid $text-clr;
        }
        .grid-box-5 {
          width: 650px;
          padding: 2rem  ;
          grid-row: 3/4;
          grid-column: 2/4;
          margin-inline: auto;
          border-top: 1px solid $text-clr;
          border-left: 1px solid $text-clr;
          h3{
            color: $heading-clr;
            text-transform: uppercase;
            font-family: $primary-font;
            letter-spacing: 2px;
            font-size:1.5em;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
